h1 {
    color: red;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: royalblue;
    font-size: 20px;
}

h3 {
    font-size: 14px;
    color: sandybrown;
}

a {
    margin: 5px;
}

p1 {
    font-size: 14px;
}

ul {
    width: 100px;
}